# Dependencies
node_modules/
**/node_modules/

# Build outputs
dist/
**/dist/
.angular/

# Env
.env
.env.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea/

# Test coverage
coverage/
